.footer {
  padding: 20px 0px;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.nav a,
.item a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  margin: 4px 0px;
}

.nav a:hover,
.item a:hover {
  text-decoration: underline;
}

.posFooter {
  border-top: .5px solid #dcdce6;
  margin-top: 10px;
}

.posFooter p {
  color: var(--primary-color);
  margin-top: 10px;
  font-size: small;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 10px;
  }

  .footer .wrapper {
    flex-direction: column;
    margin: 20px 0px;
  }

  .footer .wrapper .item {
    margin: 10px 0px;
  }

  .nav a,
  .item a {
    margin: 10px 0px;
  }

  .logo {
    margin: 10px 0px;
  }
}
